  <div class="text-center">
    <h2>{{post_name}}</h2>
    <p>{{post_body}}</p>
    <p>Created by {{user.username}}</p>
    <p>
       Current Comments:
       {{#each comments as |comment |}}
       <!--this isnt targeting the comments right-->
       {{{comment.comment_content}}}
       {{/each}}
    </p>
    <div class="form-group">
        <label for="comment_content">Add a comment:</label>
        <input class="form-input" type="text" id="comment_content" name="comment_content" />
    </div>
    <!--need to add link for submission here!-->
    <a href="" class="btn btn-outline-secondary profile-button m-2">Add a comment!</a>
  </div>