<div class="text-center">
  <h2>{{post_name}}</h2>
  <p>{{post_body}}</p>
  <p>Created by {{user_name}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary">Read up or comment!</button>
  </p>
</div>
